# public フォルダを残す
!/public/.gitkeep

# テーマフォルダと wp-config.php のみにする
/public/*
!/public/wp-config.php
!/public/wp-content
/public/wp-content/*
!/public/wp-content/themes
/public/wp-content/themes/*
!/public/wp-content/themes/cocoon-child-master
!/public/wp-content/themes/cocoon-master